*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body-form{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(180, 188, 184, 0.663);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;    
}

.form{
    width:35%;
    background-color: aquamarine;
    padding: 10px 0;
    position: absolute;
    top: 21%;
    left: 35%;
    

}
.form-hear{
    display: flex;
    justify-content: space-between;
}
.form-hear h2{
    padding: 0 10px;
    color: blueviolet;
    font-size: 25px;
}
.form-hear span{
    margin-right: 20px;
    text-decoration: none;
    background-color: red;
    color: burlywood;
    padding: 0 5px ;
    border-radius: 3px;
}

.form input{
    padding: 10px 10px;
    margin: 10px 10px;
    width: 95%
    
}
.form input:hover{
    cursor: pointer;
}
.submit{

    top:87%;
    right: 0;
    padding: 7px 7px;
    text-align: end;
    font-size: 20px;
    border: 3px solid rgba(13, 12, 12, 0.8);
    border-radius: 5px;
    float: right;
    margin-right: 50px;
    color: rgb(47, 58, 4);
}
img{
    width:100px;
    height: 100px;
}
span:hover{
    background-color:red
}